body {
    font-family: Arial, sans-serif;
    background-color: #bbe1e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgb(94, 94, 76);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px 0;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #dca3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .status {
    margin-top: 20px;
  }
  
  button {
    padding: 8px 12px;
    font-size: 16px;
  }